# Multidimensional structures

This is a common data structure we will use in satellite image processing.

For example, using:

    - A list of lists
    - A list of tuples
    - A list of dicts

In [1]:
# Example
# A list of lists: (remember lists of square brackets)

navsats_list = [
    ['GPS','USA'],
    ['Galileo','EU'],
]
navsats_list

[['GPS', 'USA'], ['Galileo', 'EU']]

In [2]:
# Example:
# A list of tuples: (remember tuples use normal parantheses/brackets)

navsats_tuples = [
    ('GPS','USA'),
    ('Galileo','EU'),
]
navsats_tuples

[('GPS', 'USA'), ('Galileo', 'EU')]

In [3]:
# Example:
# You can index them like normal lists
navsats_list[0]

['GPS', 'USA']

In [4]:
# You can also iterate over them like a normal list using a loop:
    
for i in navsats_list:
    print(i)

['GPS', 'USA']
['Galileo', 'EU']

It's the same for the tuple list:

In [5]:
navsats_tuples[0]

('GPS', 'USA')

In [6]:
# You can also iterate over them like a normal list using a loop:
    
for i in navsats_tuples:
    print(i)

('GPS', 'USA')
('Galileo', 'EU')

You can even start to include some logic in the loop:

In [7]:
for i in navsats_tuples:  # So we're iterating over our list of tuples using a for loop.
    if i[1] == 'USA':     # And placing an if function to see if the first item in each tuple is equal to 'USA'.
        print(i[0])       # If it is, we print the constellation name.

GPS

## Exercise

Create a list of lists containing the following two lists:

    - [1,2]
    - [2,3]

In [8]:
# create a list of lists
list1 = [[1,2], [2,3]]
list1

[[1, 2], [2, 3]]

Append this list to your list of lists:

    - [3,4]

In [9]:
# append to the list of lists
list2 = [3,4]
list1.append(list2)
list1

[[1, 2], [2, 3], [3, 4]]

Now use a loop to print the content of your list of lists.

In [10]:
# loop through
for i in list1:
    print(i)

[1, 2]
[2, 3]
[3, 4]

Create a list of tuples containing the following two tuples:

    - (1,2)
    - (2,3)

In [11]:
# list of tuples
list_of_tuples = [(1,2), (2,3)]
list_of_tuples

[(1, 2), (2, 3)]

Append this tuple to your list of tuples:

    - (3,4)

In [12]:
# appending
tuple1 = (3,4)
list_of_tuples.append(tuple1)
list_of_tuples

[(1, 2), (2, 3), (3, 4)]

Now use a loop to print the content of your list of tuples.

In [13]:
# looping
for i in list_of_tuples:
    print(i)

(1, 2)
(2, 3)
(3, 4)